<div class="jumbotron">
   <div class="container">
        <h1>A vous de jouer!</h1>
        <p>{{ charade.phrase }}</p>
        <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <input [(ngModel)] = "saisieUtilisateur" type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="checkReponse()">Soumettre la réponse</button>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
                <app-score [score]="score"></app-score>
            </div>
        </div>
        <br>
        <button  class="btn btn-primary btn-small" (click)="showResult()">Voir la réponse</button>
    </div>
</div>


