<h1 class="display-1 mx-auto text-center">Jeu de charades</h1>
<div class="col-sm-12">
    <button  class="btn btn-primary btn-lg" (click)="generateCharade()">Générer une nouvelle charade</button>
<app-charade *ngIf="show" [charade] = "selectedCharade"></app-charade>
</div>